$pm: #61a7e2; // #039be5;  -- alternative darker blue theme
$darkBlue: #90aeba;
$metalBlue: #00192e;
$placeHolder: #ababab;
$pmLightXX: #eef2f4;
$userColor: #0065ba;
$plainBg: white;
$black: black;
$live: #00ff06;
$bodyBg: #f7f7f7;
$formBorder: #e5edf1;
$lightGrayText: #ababab;
$postText: #246aa5;
$grayPostText: #444;